workspace = "."

[analysis]
trigger_default = "taf"

[analysis.paths]
forge = "forge"
normalize = "analysis/normalize"
merge = "analysis/merge"
track = "analysis/track"
show = "analysis/show"

[detectors.ppac]
z0_mm = -52.0
z1_mm = -332.0
z2_mm = -612.0
x_offset0_mm = 0.0
x_offset1_mm = 0.0
x_offset2_mm = 0.0
y_offset0_mm = 0.0
y_offset1_mm = 0.0
y_offset2_mm = 0.0
x_scale0 = 1.0
x_scale1 = 1.0
x_scale2 = 1.0
y_scale0 = 1.0
y_scale1 = 1.0
y_scale2 = 1.0

[detectors.t0d1]
front_strips = 32
back_strips = 32
thickness_um = 65.0
size_x_mm = 64.0
size_y_mm = 64.0
center_x_mm = 0.0
center_y_mm = 0.0
z_mm = 100.0
merge_tolerance = 3000.0
track_window_x = 4.0
track_window_y = 4.0

[detectors.t0d2]
front_strips = 64
back_strips = 64
thickness_um = 1000.0
size_x_mm = 64.0
size_y_mm = 64.0
center_x_mm = 0.0
center_y_mm = 0.0
z_mm = 111.76
merge_tolerance = 3000.0
track_window_x = 4.0
track_window_y = 4.0

[detectors.t0d3]
front_strips = 32
back_strips = 32
thickness_um = 1500.0
size_x_mm = 64.0
size_y_mm = 64.0
center_x_mm = 0.0
center_y_mm = 0.0
z_mm = 123.52
merge_tolerance = 3000.0
track_window_x = 4.0
track_window_y = 4.0

[detectors.t0d4]
front_strips = 32
back_strips = 32
thickness_um = 1500.0
size_x_mm = 64.0
size_y_mm = 64.0
center_x_mm = 0.0
center_y_mm = 0.0
z_mm = 135.28
merge_tolerance = 3000.0
track_window_x = 4.0
track_window_y = 4.0

[detectors.t0s]
front_strips = 1
back_strips = 1
thickness_um = 1500.0
size_x_mm = 64.0
size_y_mm = 64.0
center_x_mm = 0.0
center_y_mm = 0.0
z_mm = 0.0
